<!-- -->
<launch>

	<arg name="ars_sim_robot_dynamics_node_name" 	default="ars_sim_robot_dynamics_node" />
	<arg name="ars_sim_robot_status_node_name" 	default="ars_sim_robot_status_node" />
	<arg name="screen" 	default="screen" />


  <node name="$(arg ars_sim_robot_dynamics_node_name)" pkg="ars_sim_robot" type="ars_sim_robot_dynamics_ros_node.py" output="$(arg screen)" >
  
  <node name="$(arg ars_sim_robot_status_node_name)" pkg="ars_sim_robot" type="ars_sim_robot_dynamics_ros_node.py" output="$(arg screen)" >


  </node>


</launch>
